body {
  background-color: #192038;
}

* {
    scrollbar-color: rgb(31 41 55) rgb(17 24 39)
}

.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(3,end) 1500ms infinite;      
    animation: ellipsis steps(3,end) 1500ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@keyframes ellipsis {
to {
    width: 1.25em;    
}
}

@-webkit-keyframes ellipsis {
to {
    width: 1.25em;    
}
}


.box-gradient {
  background: linear-gradient(#111827, #111827) padding-box,
              linear-gradient(180deg, #e879f9 0%, #00a8ff 100%) border-box;
  border: 2px solid transparent;
}

.box-gradient:hover {
  background: linear-gradient(#111827, #111827) padding-box,
              linear-gradient(180deg, #d946ef 0%, #0ea5e9 100%) border-box;
  border: 2px solid transparent;
}

.button-gradient {
  background: linear-gradient(#111827, #111827) padding-box,
              linear-gradient(90deg, #e879f9 0%, #00a8ff 100%) border-box;
  border: 2px solid transparent;
}

.button-gradient:hover {
  background: linear-gradient(#111827, #111827) padding-box,
              linear-gradient(90deg, #c026d3 0%, #0284c7 100%) border-box;
  border: 2px solid transparent;
}

.text-gradient {
  background: linear-gradient(90deg, #e879f9 0%, #00a8ff  100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: table-cell;
  vertical-align: middle;
}

.text-gradient:hover {
  background: linear-gradient(90deg, #c026d3 0%, #0284c7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-stroke {
  -webkit-text-stroke: #0ea5e9 1.7px;
}

.pink-stroke {
  -webkit-text-stroke: rgba(232,121,249,1) 1.7px;
}

.navbar-gradient {
  width: calc(100vw);

  margin-top: -2px;

  border-right-color: #111827 !important;
  border-left-color: #111827 !important;

  background: linear-gradient(#111827, #111827) padding-box,
              linear-gradient(90deg, #e879f9 0%, #00a8ff 100%) border-box;
  border: 2px solid transparent;
}

.hover-shadow:hover {
  -webkit-box-shadow: 0px 2px 20px -8px #e6e1eb;
  -moz-box-shadow: 0px 2px 20px -8px #e6e1eb;
  box-shadow: 0px 2px 20px -8px #e6e1eb;
}

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

